<h1>PlotButtons#demo</h1>
<p>Find me in app/views/plot_buttons/demo.html.erb</p>
<div class="container">
  <div class="left-panel">
    <% @projects.each do |project| %>
      <div>
        <%= project[:name] %>
        <button class="button-add-plot" data-project_id="<%= project[:project_id] %>" data-plot_id="<%= @plot_id %>">Add</button>
        <button class="button-remove-plot" data-project_id="<%= project[:project_id] %>" data-plot_id="<%= @plot_id %>">Remove</button>
      </div>
    <% end %>
    <button class="clear-plot" data-plot_id="<%= @plot_id %>">Clear Plot</button>
  </div>
  <div class="chart-area">
    <canvas class="chart_area_canvas" data-plot_id="<%= @plot_id %>" width="400" height="400"></canvas>
  </div>
</div>
