<!DOCTYPE html>
<html>
  <head>
    <title>JsDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="main-menu">
      <li><%= link_to 'Home', root_path%></li>
      <li><%= link_to 'Demo', plot_buttons_demo_path %></li>
      <li><%= link_to 'Second Chart', plot_buttons_second_path %></li>
      <li><%= link_to 'Third Chart', plot_buttons_third_path %></li>
      <li><%= link_to 'No Charts here', plot_buttons_no_plots_path %></li>
    </ul>
    <hr>
    <%= yield %>
  </body>
</html>
